.container {
    padding: 2rem;
    background-color: yellow;
}

h2 {
    color: #343a40; /* Dark Grey */
    margin-bottom: 1.5rem;
}


.mb-4 {
    margin-bottom: 1.5rem !important;
}


.navbar-brand{
    font-size:30px;
    text-decoration:none;
    color:black;
    font-weight:100%;

}
